/*
    html {
    font-size: clamp(14px, 1.5vw, 16px);
    }

    h1 {
    font-size: clamp(1.8rem, 4vw, 3rem);
    }

    p {
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    }

*/


html {
    font-size: 16px;
}

:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-light: hsl(0, 0%, 42%);
    --gray-dark: hsl(0, 0%, 7%);
}

* {
    box-sizing: border-box;
    margin-bottom: .5em;
}

body {
    margin: 0;
    font-family: 'Figtree', sans-serif;
    background-color: hsl(47, 88%, 63%);
    color: hsl(0, 0%, 42%);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
    margin-top: 0;
}

/* p, span { font-size: calc(1rem + 1vw); } */

p,
span {
    font-size: clamp(.5rem, .4rem + 1.5vw, 1.3rem);
}

h1,
h2,
h3 {
    color: var(--gray-dark);
}

h1 {
    font-size: clamp(1rem, .6rem + 1.7vw, 2rem);
}

.blog-section {
    padding: 2em 0;
    padding-top: 4em;
}

.blog-image {
    width: 100%;
    border-radius: 10px;
}

.blog-preview-card {
    width: 70%;
    margin: 0 auto;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 42%);
    border-radius: 10px;
    padding: 1em;
    box-shadow: 5px 8px var(--gray-dark);
}

.blog-text {
    line-height: 1.43;
    margin-bottom: 1.5em;
}

.blog-category {
    background-color: var(--yellow);
    color: var(--gray-dark);
    display: inline-block;
    border-radius: 5px;
    padding: .2em .8em;
    font-weight: 600;
}

.blog-published-date {
    display: block;
}

.author-data {
    display: flex;
    align-items: center;
}

.author-avatar {
    width: 2em;
    margin-right: .8em;
}

.author-name {
    color: var(--gray-dark);
    font-weight: 600;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.the-h1{
    text-decoration: none;
}
.the-h1:hover h1, .the-h1:focus h1{
    color: var(--yellow);
}


/*======================*/
/*======================*/
/* Media Queries */

/*
@media screen and (min-width: 450px) {
    .blog-preview-card {
        width: 50%;
    }

    p, span {
        font-size: clamp(.5rem, .3rem + 1.5vw, 1.3rem);
    }

    h1 {
        font-size: clamp(1rem, .5rem + 1.7vw, 2rem);
    }
}
*/

@media screen and (min-width: 450px) {
    .blog-preview-card {
        width: 50%;
    }

    html {
        font-size: 12px;
    }
}

@media screen and (min-width: 640px) {
    .blog-preview-card {
        width: 40%;
    }

    .blog-section {
        padding-top: 6em;
    }

    html {
        font-size: 11px;
    }
}

@media screen and (min-width: 800px) {
    .blog-preview-card {
        width: 30%;
    }

    html {
        font-size: 9px;
    }

}

@media screen and (min-width: 1000px) {
    .blog-preview-card {
        width: 25%;
    }

}